html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #383333;
  color: #333333;
}

.board {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.board .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex: 1 1;
}
.board .row .sound {
  flex: 1 1;
  margin: 0.5vw 0.5vw;
}

.sound {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 1em;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}
.sound.dragging {
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.6);
}
.sound.loaded {
  cursor: pointer;
}
.sound.loaded:hover {
  box-shadow: 0px 0px 0px 2px white;
}
.sound.loaded .props h1, .sound.loaded .props p {
  color: white;
}
.sound .progress, .sound .props, .sound .settings, .sound h1, .sound p {
  pointer-events: none;
}
.sound .progress {
  flex: 1 1;
  display: block;
  position: relative;
}
body.settings .sound .progress {
  display: none;
}
.sound .progress:before, .sound .progress:after {
  content: " ";
  position: absolute;
  top: 45%;
  left: 25%;
  height: 2px;
  width: 50%;
  padding: 0;
  background-color: #383333;
}
.sound .progress:after {
  background-color: white;
  width: 50%;
}
.sound .props {
  flex: 1 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.sound .props h1, .sound .props p {
  font-size: 12px;
  line-height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em 0;
  margin: 0;
  user-select: none;
}
.sound .settings {
  flex: 1 1;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
body.settings .sound .settings {
  display: flex;
}
.sound .settings button {
  width: 30px;
  height: 30px;
  margin: 7px;
  pointer-events: all;
  cursor: pointer;
  background-color: lightgray;
  border: 2px solid white;
  border-radius: 50%;
}
.sound .settings button.active {
  border-color: white;
  background-color: white;
}
.sound .settings button.show-colours {
  background: none;
}
.sound .settings button.retrigger:before {
  content: "-";
}
.sound .settings button.oneshot:before {
  content: "|";
}
.sound .settings button.gate:before {
  content: "o";
}
.sound .settings button.colour.blue {
  background-color: #26748E;
}
.sound .settings button.colour.red {
  background-color: #D35528;
}
.sound .settings button.colour.purple {
  background-color: #934873;
}
.sound .settings button.colour.cyan {
  background-color: #00B9AE;
}
.sound .settings button.colour.yellow {
  background-color: #F9C80E;
}
.sound .settings button.colour.green {
  background-color: #48BA66;
}
.sound .settings button.colour.orange {
  background-color: #FF9C4C;
}
.sound .settings .modes, .sound .settings .colours {
  position: absolute;
  display: none;
  padding: 5px;
  background-color: #383333;
}
.sound .settings .modes.active, .sound .settings .colours.active {
  display: block;
}
.sound .settings .modes.colours, .sound .settings .colours.colours {
  top: -1em;
}
.sound .settings .modes button, .sound .settings .colours button {
  margin: 2px;
}

nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid gray;
}
nav a {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 1vw;
  font-size: 2em;
  color: white;
  text-decoration: none;
}
nav button {
  margin: 0;
  padding: 0 2em;
  height: 70px;
  line-height: 70px;
  vertical-align: bottom;
  background: none;
  border: 0;
  font-size: 1em;
  color: white;
  cursor: pointer;
  outline: none;
}
nav button#add-row, nav button#add-col {
  display: none;
}
body.settings nav button#add-row, body.settings nav button#add-col {
  display: initial;
}
nav button#settings {
  float: right;
}
nav button:hover {
  background-color: gray;
}

/*# sourceMappingURL=soundboard.css.map */
