@import 'colours';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Tahoma,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $background-colour;
  color: $text-colour;
}
