@import 'colours';

.board {

  background-color: $board-colour;
  position: fixed;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em 1em;
  justify-items: center;
  align-items: center;

}
