$background-colour: white;
$text-colour: #333333;

$board-colour: lightgray;

// Foreground, background
$sound-colours: [
  [white, red],
  [white, blue],
  [black, green],
  [black, yellow],
  [black, cyan],
  [white, purple],
  [black, pink],
  [black, white],
  [white, black]
];
$empty-sound-colour: gray;
