$background-colour: white;
$text-colour: #333333;

$play-mode-button:               lightgray;
$play-mode-button-border:        gray;
$play-mode-button-active:        #9a9ac5;
$play-mode-button-border-active: #3c3c6f;

$navigation-colour: lightgray;
$navigation-button-colour: #9a9ac5;
