@import 'colours';

.sound {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  padding: 1em;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;

  &.dragging {
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.6);
  }

  &.loaded {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 0px 2px white;
    }

    .props h1, .props p {
      color: white;
    }
  }

  // Please don't catch click / drag events
  .progress, .props, .settings, h1, p {
    pointer-events: none;
  }

  // This is a nice little progress indicator
  // that is yet to be made active :)
  .progress {
    flex: 1 1;
    display: block;
    position: relative;

    body.settings & {
      display: none;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 45%;
      left: 25%;
      height: 2px;
      width: 50%;
      padding: 0;
      background-color: $background-colour;
    }

    &:after {
      background-color: white;
      width: 50%; // This should be animated from 0% to 50%
    }
  }

  // These are the textual properties title and artist
  .props {
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h1, p {
      font-size: 12px;
      line-height: 1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0.5em 0;
      margin: 0;
    }
  }

  // These are the settings of the sound, only visible in settings mode
  .settings {
    flex: 1 1;
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    body.settings & {
      display: flex;
    }

    button {
      width: 30px;
      height: 30px;
      margin: 7px;

      pointer-events: all;
      cursor: pointer;

      background-color: $play-mode-button;
      border: 2px solid $play-mode-button-border;
      border-radius: 50%;

      &.active {
        border-color: $play-mode-button-border-active;
        background-color: $play-mode-button-active;
      }

      &.show-colours {
        background: none;
      }

      &.retrigger:before { content: '-'; }
      &.oneshot:before   { content: '|'; }
      &.gate:before      { content: 'o'; }

      &.colour {
        &.blue   { background-color: $sound-colour-blue;   }
        &.red    { background-color: $sound-colour-red;    }
        &.purple { background-color: $sound-colour-purple; }
        &.cyan   { background-color: $sound-colour-cyan;   }
        &.yellow { background-color: $sound-colour-yellow; }
        &.green  { background-color: $sound-colour-green;  }
        &.orange { background-color: $sound-colour-orange; }
      }
    }

    .modes, .colours {
      position: absolute;
      display: none;
      padding: 5px;

      background-color: $background-colour;

      &.active {
        display: block;
      }

      &.colours {
        top: -1em;
      }

      button {
        margin: 2px;
      }
    }
  }

}
