@import 'colours';

.sound {
  padding: 1em;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

  h1, p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  &.dragging {
    box-shadow: 0px 0px 10px 20px rgba(255, 0, 0, 0.6);
  }

  &.loaded {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    }
  }

  button {
    width: 2vw;
    height: 2vw;
    border: 3px solid $play-mode-button-border;
    border-radius: 50%;
    background-color: $play-mode-button;

    &.active {
      border-color: $play-mode-button-border-active;
      background-color: $play-mode-button-active;
    }

    &.one-shot:before {
      content: '-';
    }
    &.start-stop:before {
      content: '|'
    }
    &.hold:before {
      content: 'o'
    }
  }

}
