.board {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5vw 0.5vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  & .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 1 1;

    & .sound {
      flex: 1 1;
      margin: 0.5vw 0.5vw;
    }
  }

  & p {
    text-align: center;
  }
}
