:root {
  --background-colour: #383333;
  --text-colour: #a49898;

  --sound-colour-blue: #26748e;
  --sound-colour-red: #d35528;
  --sound-colour-purple: #934873;
  --sound-colour-cyan: #00b9ae;
  --sound-colour-yellow: #f9c80e;
  --sound-colour-green: #48ba66;
  --sound-colour-orange: #ff9c4c;

  --play-mode-button: lightgray;
  --play-mode-button-border: white;
  --play-mode-button-active: white;
  --play-mode-button-border-active: white;

  --navigation-colour: lightgray;
  --navigation-button-colour: #9a9ac5;
}
