nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: left;
  border-bottom: 1px solid gray;

  & img {
    height: 50px;
    margin: 7px 0px 0px 20px;
    float: left;
  }

  & a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;

    font-size: 2em;
    color: white;
    text-decoration: none;

    @media screen and (max-width: 600px) {
      .settings & {
        display: none;
      }
    }

    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  & div {
    flex-grow: 1;
  }

  & button {
    margin: 0;
    padding: 0 2em;
    height: 70px;
    width: 100px;
    vertical-align: bottom;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: none;
    border: 0;
    font-size: 1em;
    color: white;
    cursor: pointer;
    outline: none;

    display: none;
    body.settings & {
      display: flex;
    }

    &#settings {
      display: flex;
      float: right;
    }

    &:hover {
      background-color: gray;
    }

    & i.icon {
      font-style: normal;
    }
    & p {
      margin: 0;
      line-height: 0.9em;
    }

    @media screen and (max-width: 1000px) {
      width: auto;
      padding: 0 0.5em;

      & p {
        display: none;
      }
    }
  }
}
