nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: left;
  border-bottom: 1px solid gray;

  & img {
    height: 50px;
    margin: 7px 0px 0px 20px;
    float: left;
  }

  & a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;

    font-size: 2em;
    color: white;
    text-decoration: none;
  }

  & button {
    margin: 0;
    padding: 0 2em;
    height: 70px;
    line-height: 70px;
    vertical-align: bottom;

    background: none;
    border: 0;
    font-size: 1em;
    color: white;
    cursor: pointer;
    outline: none;

    &#add-row, &#add-col {
      display: none;

      body.settings & {
        display: initial;
      }
    }
    &#settings {
      float: right;
    }

    &:hover {
      background-color: gray;
    }
  }

}
